.colorForBg{
    background-color:#f7e4e06b;
}
.colorForP{
    color:#333333;
}
.colorForTitles{
    color:#7E96C4;
}
.widthOfCard{
    width: 10rem;
}
.pagination-controls .btn {
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px 20px;
  }
  
  .pagination-controls .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    font-size: 16px;
    font-weight: 500;
  }
  