@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: Montserrat, sans-serif;
  margin: 0%;
  box-sizing: border-box;
}
.textSTyleForError {
  font-size: 14px;
}
.forCartItemUser{
  width: 350px;
}
.phone-input-field {
  width: 100% !important;
}
.popup-box {
  width: 40%; /* 40% width of the screen */
  height: 40%; /* 40% height of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Keyframes for rotating 360 degrees */
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the checkmark icon */
.rotate-checkmark {
  animation: rotate360 1s ease-out; /* Rotate 360 degrees over 1 second */
}

.hiegt {
  height: 400px;
}
.h-vh {
  height: 100vh;
}
.responsive-For-Card-h2 {
  font-size: 1rem;
}
.responsive-For-Card-span {
  font-size: 1rem;
}
.responsive-For-Card-p {
  font-size: 1rem;
}
.responsiveSpinnerForCartView{
  font-size: 150px;
}
.responsiveForOreder{
  font-size: 12px;
  width: 100px;
}
.CardOFAllOreder{
  width: 80%;
}
.sizeOfI {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.125rem;
}
.sizeOfFontNav {
  font-size: 13px;
}
.textSizeForLabel {
  font-size: 1rem;
}
.textSizeForSpan {
  font-size: 13px;
  line-height: 19px;
}
.cursorPOinter {
  cursor: pointer;
}
.responsive-font-size-p {
  font-size: 21.6px; /* Bootstrap fs-1 size */
}
.responsive-font-size-h1 {
  font-size: 2rem; /* Bootstrap fs-1 size */
}
.responsive-font-size-h3 {
  font-size: 1.8rem;
}
.responsive-font-size-h2-Home {
  font-size: 2.0625rem;
}
.responsive-For-I{
  /* font-size: 0.7rem; */
  position: fixed;
  top: 92%;
  right: 1%;
  cursor: pointer;
}
.responsive-for-i-head-page{
  font-size: 1.5rem;
}
.responsive-font-size-p-items{
  font-size: 1.2rem;
}
.heightOfImageInItems{
  height: 450px;
}
.firstButtonInSmallScreen{
  width: 35%;
}
.cursor-pointer {
  cursor: pointer;
}

.active-thumbnail {
  border: 2px solid #D4B11C; /* Example for highlighting the active thumbnail */
}
.widthOfPhotosForSmallPages {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.widthOfPhotosForSmallPages::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.responsive-font-size-p-form{
  font-size: 1.5rem;
}
.responsive-font-size-h1-form{
  font-size: 1.7rem;
}
/* search work  */
.styleForResultSearch{
  width: 39%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid rgba(128, 128, 128, 0.425);
  height: 200px;
  top: 90%;
}
.classForSureBoxOFCart {
  position: fixed;
  z-index: 230;
  width: 50%;
  top: 50%;
  left: -100%;
  transition: all 0.3s ease ;
  -webkit-transition: all 0.3s ease ;
  -moz-transition: all 0.3s ease ;
  -ms-transition: all 0.3s ease ;
  -o-transition: all 0.3s ease ;
}
.classForSureBoxOFCart.active {
  position: fixed;
  z-index: 230;
  top: 50%;
  left: 50%;
}
.styleOfImageInCart{
  width: 100px;
  height: 100%;
  /* background-color: #D4B11C; */
}

/* .styleOftextInCart{
  width: 70%;
} */
.forCardView{
  height: 280px;
}
@media (max-width: 576px) {
  /* Small screens (sm) and below */
  .responsive-font-size-p {
    font-size: 1rem; /* Bootstrap fs-6 size */
  }
  .responsive-font-size-h1 {
    font-size: 1rem; /* Bootstrap fs-6 size */
  }
  .responsive-font-size-h3 {
    font-size: 1.8rem; /* Bootstrap fs-6 size */
  }
  .responsive-font-size-h2-Home {
    font-size: 1.8rem;
  }
  .textSizeForSpan {
    font-size: 0.88rem;
  }
  .textSizeForLabel {
    font-size: 1rem;
  }
  .sizeOfFontNav {
    font-size: 0.88rem;
  }
  .checkbox-box {
    width: 1rem; /* Smaller size for smaller screens */
    height: 1rem;
  }

  .checkmark {
    font-size: 0.75rem; /* Smaller checkmark for smaller screens */
  }

  .checkbox-label {
    font-size: 0.875rem;
  }
  .sizeOfI {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.125rem;
  }
  .forDivViewMore {
    top: 100%;
    right: 35px !important;
  }
  .forDivOfBestSeller {
    margin-top: 10%;
  }
  .responsive-For-Card-h2 {
    font-size: 0.62rem;
  }
  .responsive-For-Card-span {
    font-size: 0.75rem;
  }
  .responsive-For-Card-p {
    /* font-size: 0.75rem; */
    display: none;
  }
  .classForButtonForCard {
    font-size: 0.6rem;
    width: 100% !important;
    margin-top: 10% !important;
    white-space: nowrap;
  }
  .forBestSellerPageResponsive {
    width: 40%;
    height: 220px;
  }
  .forBestSellerPageResponsiveImage {
    height: 60%;
  }
  .responsiveForBestSellerPage {
    padding-left: 5px;
    padding-top: 2px;
  }
  .responsive-For-Card-h2-Best-Seller {
    font-size: 0.7rem;
    margin-top: 4px;
  }
  .classForButtonForCardForBestSeller {
    font-size: 0.6rem;
    width: 100% !important;
    margin-top: 5% !important;
    white-space: nowrap;
  }
  .styleForSale {
    white-space: nowrap;
    width: 25% !important;
    padding: 0px !important;
    font-size: 0.6rem;
    top: 4%;
    right: 25%;
  }
  .styleForStock {
  white-space: nowrap;
  width: 25% !important;
  padding: 0px !important;
  font-size: 0.6rem;
  top: 4%;
  left: 3%;
  }.responsive-For-I{
    display: none;
  }
  .inSmallScreen{
    display: none;
  }
  .inSmallScreenButton{
    width: 25% ;
    text-wrap: nowrap;
    font-size: 0.7rem !important;
    padding: 0px !important;
  }.responsive-for-i-head-page{
    font-size: 1.2rem;
  }
  .classforResponsive{
    width: 100% !important;
    margin-top: 16%;
  }
  .forSmallScreenButton{
    flex-direction: column !important;
  }
  .responsive-font-size-p-items{
    font-size: 0.9rem;
  }
  .heightOfImageInItems{
    height: 200px !important;
  }
  .smallPhotosStyleItemPage{
    height: 2px;
    min-width: 20px !important;
    max-width: 20px !important;
  }
  .widthOfPhotosForSmallPages{
    padding: 0 15px 0 15px;
  }
  .forSmallScreenItemPage{
    flex-direction: column !important;
    align-items: center;
  }
  .cardOfContentInSmallScreen{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .firstButtonInSmallScreen{
    width: 100%;
  }
  .forSmallScreenDiv{
    margin: 0px !important;
  }
  .buttonForSmallScreen{
    border-radius: 6%;
    -webkit-border-radius: 6%;
    -moz-border-radius: 6%;
    -ms-border-radius: 6%;
    -o-border-radius: 6%;
}
.inSmallScreenWindowImage{
  width: 100% !important;
  height: 60% !important;
}
.inSmallScreenInsideWindowImage{
  width: 75% !important;
}
.responsive-font-size-p-form{
  font-size: 1rem;
}
.responsive-font-size-h1-form{
  font-size: 1.3rem;
}
.inSmallscreenForForm{
  flex-direction: column;
gap: 50px;
}
.forWidthSectionOfForm{
  width: 100% !important;
}
.styleForResultSearch{
  width: 81%;
}
.imgForFooter{
  width: 30%;
  height: 26%;
}
.p-for-image-for-footer{
  font-size:  0.875rem;
  text-align: center;
  margin-top: 5px;
}
.classForSureBoxOFCart{
  width: 90%;
 }
 .inSmallScreenBasket{
  margin-top: 5%;
  /* height: 20%; */
}
.styleOfImageInCart{
  width: 100px;
  height: 100%;
}
.textForPInCart{
  font-size: 0.75rem;
  white-space: nowrap;
 }
 .textForPInCartWithImage{
  font-size: 0.75rem;
 }
 .forSmallScreenDivBasket{
  width: 100% !important;
 }
 .classForButtonBasket{
  width: 10% !important;
 }
 .forCardView{
  height: 200px;
}
.forCartItemUser{
  width: 200px;
}
.responsiveSpinnerForCartView{
  font-size: 50px;
}
.responsiveForOreder{
  font-size: 10px;
  width: 90px;
}
.CardOFAllOreder{
  width: 100%;
}
.responsiveNameInOrder{
  font-size: 10px;
}
.responsiveForBtn{
  width: 100%;
  padding: 2px;
  font-size: 10px;
}
.responsivePOstitionCard{
  right: 8px !important;
  bottom: 15px !important;
}
}
